<div class="container">
    <div class="">
        <app-form></app-form>
    </div>
    <div class="">
        <p>Sự kiện</p>
        <button class="btn btn-primary" (click)="onClickBtn()">{{showStatus? "ẩn":"hiện"}} bảng dữ liệu</button>
    </div>
    <div class="">
        <label for="input">Name</label>
        <input type="text" id="input" class="form-control" (input)="onInput($event,'name')" [value]="inputValue.name">
    </div>
    <div class="">
        <label for="input">Avatar</label>
        <input type="text" id="input" class="form-control" (input)="onInput($event,'avatar')"
            [value]="inputValue.avatar">
    </div>
    <div>
        <label for="input">Dame</label>
        <input type="number" id="input" class="form-control" (input)="onInput($event, 'dame')"
            [value]="inputValue.dame">
    </div>
    <div>
        <label for="input">Speed</label>
        <input type="number" id="input" class="form-control" (input)="onInput($event, 'speed')"
            [value]="inputValue.speed">
    </div>
    <div>
        <label for="input">Defend</label>
        <input type="number" id="input" class="form-control" (input)="onInput($event, 'defend')"
            [value]="inputValue.defend">
    </div>
    <div>
        <label for="input">Price</label>
        <input type="number" id="input" class="form-control" (input)="onInput($event, 'price')"
            [value]="inputValue.price">
    </div>
    <div class="">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </div>
    <div>
        <p>
            Tên SV:
            <app-name [name]='studentName'></app-name>
        </p>
        <p>Mã SV:
            <app-identity [mssv]='studentMSV'></app-identity>
        </p>
    </div>
    // cách 1
    <app-table [champions]="champs" class="{{showStatus? 'db': 'dn'}} "></app-table>
    //cách 2
    <app-table [champions]="champs" *ngIf="showStatus"></app-table>
</div>